[Unit]
Description=Mount unit for spotify, revision 24
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/spotify_24.snap
Where=/snap/spotify/24
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
