[Unit]
Description=Mount unit for gnome-characters, revision 124
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_124.snap
Where=/snap/gnome-characters/124
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
