[Unit]
Description=Mount unit for gnome-system-monitor, revision 54
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-system-monitor_54.snap
Where=/snap/gnome-system-monitor/54
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
