[Unit]
Description=Mount unit for gnome-calculator, revision 222
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-calculator_222.snap
Where=/snap/gnome-calculator/222
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
