[Unit]
Description=Mount unit for core, revision 5662
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_5662.snap
Where=/snap/core/5662
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
