[Unit]
Description=Mount unit for core, revision 5548
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_5548.snap
Where=/snap/core/5548
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
