[Unit]
Description=Mount unit for gnome-characters, revision 117
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_117.snap
Where=/snap/gnome-characters/117
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
