[Unit]
Description=Mount unit for gtk-common-themes, revision 701
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gtk-common-themes_701.snap
Where=/snap/gtk-common-themes/701
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
