[Unit]
Description=Mount unit for vlc, revision 555
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/vlc_555.snap
Where=/snap/vlc/555
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
