[Unit]
Description=Mount unit for gnome-calculator, revision 260
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-calculator_260.snap
Where=/snap/gnome-calculator/260
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
