[Unit]
Description=Mount unit for spotify, revision 22
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/spotify_22.snap
Where=/snap/spotify/22
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
