[Unit]
Description=Mount unit for core, revision 5742
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_5742.snap
Where=/snap/core/5742
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
