[Unit]
Description=Mount unit for gnome-logs, revision 45
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-logs_45.snap
Where=/snap/gnome-logs/45
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
