[Unit]
Description=Mount unit for gnome-logs, revision 43
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/gnome-logs_43.snap
Where=/snap/gnome-logs/43
Type=squashfs
Options=nodev,ro,x-gdu.hide

[Install]
WantedBy=multi-user.target
